<div class="row">
	<div class="col-md-6 col-12">

		<div class="row form-group">
			<label for="date" class="col-4 col-form-label">Datum</label>
			<div class="col-8">
				<f:form.textfield name="date" value="{master.date->f:format.date(format:'d.m.Y')}" class="form-control" readonly="1" />
			</div>
		</div>

	</div>
	<div class="col-md-6 col-12">

		<div class="row form-group">
			<label for="servicePreacher" class="col-4 col-form-label">Prediger</label>
			<div class="col-8">
				<f:form.textfield name="servicePreacher" value="<f:render partial='Master/PersonlistPlain' arguments='{list:master.servicePreacher}' />" class="form-control" readonly="1" />
			</div>
		</div>

	</div>
</div>

<div class="row">
	<div class="col-md-6 col-12">
		<div class="row form-group">
			<label for="serviceSerial" class="col-4 col-form-label">Predigtreihe</label>
			<div class="col-8">
				<f:form.textfield name="serviceSerial" value="{master.serviceSerial.title}" class="form-control" readonly="1" />
			</div>
		</div>
	</div>
	<div class="col-md-6 col-12">
		<div class="row form-group">
			<label for="serviceBible" class="col-4 col-form-label">Bibelstelle</label>
			<div class="col-8">
				<f:form.textfield name="serviceBible" value="{master.serviceBible}" class="form-control" readonly="1" />
			</div>
		</div>
	</div>
</div>

<div class="row form-group">
    <label for="serviceTopic" class="col-2 col-form-label">Predigtthema</label>
    <div class="col-10">
        <f:form.textfield name="serviceTopic" value="{master.serviceTopic}" class="form-control" readonly="1" />
    </div>
</div>
	
<div class="row form-group">
    <label for="sermonBibletext" class="col-2 col-form-label">Bibeltext</label>
    <div class="col-10">
        <f:form.textarea property="sermonBibletext" rows="8" class="form-control" />
    </div>
</div>

<div class="row form-group">
    <label for="sermonConcept" class="col-2 control-label">Konzept</label>
    <div class="col-10">
        <f:form.textarea property="sermonConcept" rows="8" class="form-control" />
    </div>
</div>
	

<div class="row form-group">
	<label for="sermonRelatedFiles" class="col-md-2 col-form-label">Downloads</label>
	<div class="col-md-10">
    	<div class="custom-file mb-3">
            <f:form.upload name="newDocument" class="custom-file-input" id="newDocument1" />
            <label class="custom-file-label" for="newDocument1">Neue Datei auswählen</label>
        </div>
		<f:if condition="{master.sermonRelatedFiles}">
			<div class="form-control-static">Bestehende Dateien:</div>
			<ul>
				<f:for each="{master.sermonRelatedFiles}" as="file">
					<li>
                    	<a href="{file.originalResource.publicUrl}" target="_blank">{file.originalResource.originalFile.name}</a> &nbsp;  
                        <span title="Datei zum Löschen markieren">
                        	<f:form.checkbox name="delDocument[{file.uid}]" value="1" />
                            <svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-17-bin.svg#glyphicons-basic"/></svg>
                        </span>
                    </li>
				</f:for>
			</ul>
		</f:if>
	</div>
</div>

<f:security.ifHasRole role="{settings.usergroupSermon}">
	<f:then>
		<div class="row form-group">
        	<legend class="col-form-label col-2 float-left pt-0">Publiziert</legend>
			<div class="col-10">
                <div class="form-check">
                    <f:form.checkbox property="sermonPublic" value="1" class="form-check-input" />
	                <label class="form-check-label" for="sermonPublic">Predigt ist sichtbar</label>
                </div>
			</div>
		</div>
	</f:then>
	<f:else>
		<f:form.hidden property="sermonPublic" value="0" />
	</f:else>
</f:security.ifHasRole>
