
<div class="row">
	<div class="col-sm-6 col-12">
	
		<h3>1./2. Jahr</h3>
        <div class="row form-group">
            <label for="teensProgram1" class="col-sm-3 col-4 col-form-label">Durchführung</label>
            <div class="col-8">
                <f:form.select property="teensProgram1" options="{teensProgram1Options}" class="form-control" />
            </div>
        </div>
        <div class="row form-group">
            <label for="teensTopic1" class="col-sm-3 col-4 col-form-label">Thema</label>
            <div class="col-8">
                <f:form.textfield property="teensTopic1" class="form-control" />
            </div>
        </div>
        <div class="row form-group">
            <label for="teensNotes1" class="col-sm-3 col-4 col-form-label">Bemerkungen</label>
            <div class="col-8">
                <f:form.textarea property="teensNotes1" rows="2" class="form-control" />
            </div>
        </div>
        <div class="row form-group">
            <label for="teensPeople1" class="col-sm-3 col-4 col-form-label">Leiter</label>
            <f:render partial="Master/PeopleSelectionField" arguments="{master:master,property:master.teensPeople1,name:'teensPeople1',allPeople:allPeople}" />
        </div>

	</div>
	<div class="col-sm-6 col-12">

		<h3>3. Jahr</h3>
        <div class="row form-group">
            <label for="teensProgram2" class="col-sm-3 col-4 col-form-label">Durchführung</label>
            <div class="col-8">
                <f:form.select property="teensProgram2" options="{teensProgram2Options}" class="form-control" />
            </div>
        </div>
        <div class="row form-group">
            <label for="teensTopic2" class="col-sm-3 col-4 col-form-label">Thema</label>
            <div class="col-8">
                <f:form.textfield property="teensTopic2" class="form-control" />
            </div>
        </div>
        <div class="row form-group">
            <label for="teensNotes2" class="col-sm-3 col-4 col-form-label">Bemerkungen</label>
            <div class="col-8">
                <f:form.textarea property="teensNotes2" rows="2" class="form-control" />
            </div>
        </div>
        <div class="row form-group">
            <label for="teensPeople2" class="col-sm-3 col-4 col-form-label">Leiter</label>
            <f:render partial="Master/PeopleSelectionField" arguments="{master:master,property:master.teensPeople2,name:'teensPeople2',allPeople:allPeople}" />
        </div>

	</div>
</div>